<?xml version="2.0"?>
<launch>
      <!-- RVIZ visualization parameter -->
      <arg name= "rviz_visualization"                          value = "true" />

      <!-- Robot tracking parameters -->
      <arg name = "robot_tracking"                             value = "1" />
      <arg name = "robot_detection_visualization_2d"           value = "1" />
      <arg name = "robot_localization_visualization_3d"        value = "1" />

      <!-- Launch ZED2 camera parameter -->
      <arg name = "launch_ZED2"                                value = "true" />

      <!-- Launch zed 2 and human tracking-->
      <group if = "$(eval arg('launch_ZED2') == 1)">
            <include file = "$(find zed_wrapper)/launch/zed2.launch"/>
      </group>

      <!-- Launch robot tracking-->
      <group if = "$(eval arg('robot_tracking') == 1)">
            <include file = "$(find mmdetection_ros)/launch/mmdetector.launch">
                  <arg name = "robot_detection_visualization_2d"               value = "true" />
                  <arg name = "robot_localization_visualization_3d"            value = "true" />
            </include>
      </group>

      <!-- RViz visualization -->
      <group if = "$(eval arg('rviz_visualization') == 1)">
            <node name = "tracking_visualization_rviz" pkg="rviz" type="rviz" args="-d $(find tracking_humans_and_robots_3d)/rviz/hichem_rviz_config.rviz" if="$(arg rviz_visualization)"/>
      </group>

</launch>
